<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">

    <button (click)="next()">Next</button>
    <button (click)="nextPicture()">Next Picture</button>
    <button (click)="getPicture()">Get Picture</button>
    <button (click)="updatePicture()">Update Picture</button>
    <button (click)="deletePicture()">Delete Picture</button>
    <input [(ngModel)]="id" placeholder="picture"/>
    <button (click)="previousPicture()">Previous Picture</button>

    <br/>
    <br/>
    <br/>
   Picture = {{picture$ | async | json}}
    <br/>
    <br/>
    <br/>

<ul>
    <li *ngFor="let item of results$ | async">{{item.added}} : {{item.id }} / {{item.slug}}</li>
</ul>

</div>
